<div class="container">
  <legend>Edit Item</legend>
  <form>
    <div class="mb-3">
      <label for="txtName" class="form-label">Name</label>
      <input type="text" name="name" [(ngModel)] = "userForm.name" class="form-control" id="txtName" />
    </div>
    <div class="mb-3">
      <label for="txtPhone" class="form-label">Phone</label>
      <input name="phone" [(ngModel)] = "userForm.phone" class="form-control" id="txtPhone" />
    </div>
    <div class="mb-3">
      <label for="txtemail" class="form-label">Email</label>
      <input type="text" name="email" [(ngModel)] = "userForm.email" class="form-control" id="txtemail" />
    </div>
    <button type="button" (click)="update()" class="btn btn-primary">Update</button>
  </form>
</div>