<nav class="navbar navbar-expand-lg navbar navbar-dark" > 
    <div class="container" >
      <a class="navbar-brand" href="#">User</a>
    </div>
    <div class="col-sm-6">
      <ul class ="navbar-nav mb-1 mb-log-0">
        <a routerLink="/login" class="nav-link active" >Logout</a>
      <a class="nav-link active"   routerLink="/userform/add">Add User</a>
      </ul>
      
    </div>
    <div #login  >
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" (click)="userLogin()">Login</a>
          </li>
        </ul>
    </div>
  </nav>