<div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="text-center">
                  <h1 class="text-dark text-muted">signup</h1>
                  
                  <form  >
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input  type="email" class="form-control" name="email" [(ngModel)]="email">
                       
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input  matInput [type]="hide? 'password' : 'text'" class="form-control" name="password" [(ngModel)]="password">
                        <mat-icon (click)="hide = !hide" matSuffix>{{hide? 'visibility_off' : 'visibility'}}</mat-icon>
                      </div>
                      <button type="button" class="btn btn-info mb-2" (click)="signup()">signup</button>
                      <div class="row">
                        <div class="col-md-6">
                          <a routerLink="/login">Have an Account !! <span class="text-danger">Login</span></a>
                        </div>
                        
                      </div>
                    </form>
                    
              </div>
          </div>
      </div>
  </div>
</div>