.card {
    border: none;
    width: 500px;
    padding: 40px;
    top: 70%;
    left: 100%;
    
    transform: translate(-50%, -50%);
    background-color: rgb(183, 181, 157);
    background: linear-gradient(90deg, rgb(218, 220, 214)0%, rgb(178, 188, 187)100%);
    }
    .text-dark h5{
        color:black;
    }
    
    .card h1,h6{
        color: white;
    }
    label{
        color: azure;
    }
    .form-label{
        color:black;
    }