<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Add User</h3>
            <form [formGroup]="userForm"  (ngSubmit)="create()">

                <div class="form-group">
                    <label for="name">Name</label>
                    <input formControlName="name" [ngClass]="{'is-invalid':submitted && userForm.controls['name'].errors}" type="text" class="form-control">
                    <div *ngIf="submitted && userForm.controls['name'].errors" class="text-danger">
                        <div *ngIf="submitted && userForm.controls['name'].errors['required']">
                            Name is Required
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label for="phone">phone</label>
                    <input formControlName="phone" [ngClass]="{'is-invalid':submitted && userForm.controls['phone'].errors}"type="text" class="form-control">
                    <div *ngIf="submitted && userForm.controls['phone'].errors" class="text-danger">
                        <div *ngIf="userForm.controls['phone'].errors['required']">
                            Phone Number is Required
                        </div>
                        <div *ngIf=" userForm.controls['phone'].errors['pattern']">
                            Please, Enter 10 digit Mobile Number.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input formControlName="email"  [ngClass]="{'is-invalid':submitted && userForm.controls['email'].errors}"type="text" class="form-control">
                    <div *ngIf="submitted && userForm.controls['email'].errors" class="text-danger">
                        <div *ngIf="submitted && userForm.controls['email'].errors['required']">
                            Email is Required
                        </div>
                        <div *ngIf="submitted && userForm.controls['email'].errors['email']">
                            Email is not correct
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="website">Website</label>
                    <input formControlName="website" [ngClass]="{'is-invalid':submitted && userForm.controls['website'].errors}" type="text" class="form-control">
                    <div *ngIf="submitted && userForm.controls['website'].errors" class="text-danger">
                        <div *ngIf="submitted && userForm.controls['website'].errors['required']">
                            Website is Required
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary">
                        Add User
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>