
<nav class="navbar navbar-expand-lg navbar navbar-dark" > 
  <div class="container" >
    <a class="navbar-brand" href="#">User</a>
  </div>
  <div class="col-sm-6">
    <ul class ="navbar-nav mb-1 mb-log-0">
      <a routerLink="/login" class="nav-link active" >Logout</a>
    <a class="nav-link active"   routerLink="/userform/add">Add User</a>
    </ul>
    
  </div>
  
</nav>
<h1 class="display-4">Employee Data</h1>

<p>
  This component demonstrates fetching Employee data from Google cloud
  firestore.
</p>

<ng-template #loading>
  <p><em>Loading...</em></p>
</ng-template>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <form (ngSubmit)="search()" #searchForm="ngForm" >
      <div class="input-group">
        <input type="text" class="form-control custom-input" placeholder="Search by Name" [(ngModel)]="searchQuery" name="searchQuery"  />
        <span class="input-group-text">
          <i class="fa fa-times" *ngIf="clearIcon"(click)="clearSearch()"></i>
        </span>
      </div>
    </form>
	
  </div>
</div>


<ng-container *ngIf="userData$ | async as userData; else loading">
  
    <ng-container *ngIf="userData.userList ; else noData ">



      <table class="table"  shadow table-striped align-middle table-bordered>
        <thead class=" table-info">
          <tr class=" text-center">
            
            <th >Name</th>
            <th >Gender</th>
            <th >Phone</th>
            <th >Email</th>
            <th>Department</th>
            <th *ngIf="userData.appUser"> Actions </th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr  *ngFor="let user of userData.userList  | paginate: { itemsPerPage: 10, currentPage: p }"
      >
      
            
            <td>{{ user.name }}</td>
            <td>{{user.gender}}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.department }}</td>
            <td *ngIf="userData.appUser">


              <button
              class="btn btn-outline-dark"
              [routerLink]="['/userform/edit/',user.id]"
            >
              Edit
            </button>
              <button type="button" style="margin-left: 20px;" class="btn btn-danger" 
              (click)="delete(user.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="p = $event" previousLabel="Previous" nextLabel="Next"></pagination-controls>
      </div>
    </ng-container>

    <ng-template #noData>
      <div class="d-flex justify-content-center">
        <h4>No records found</h4>
      </div>
    </ng-template>


</ng-container>